@font-face {
    font-family: slimFont;
    src: url("../Fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: lessslimFont;
    src: url("../Fonts/Montserrat-Medium.ttf");
}

#flutter {
    height: 120%;
    scroll-snap-align: start;
    width: 100%;
    top: 100%;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 5);
    position: absolute;
    background-color: white;
}

#FlutterTile {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    height: 150px;
    width: 100%;
    align-items: center;
}

h1#flutterheading {
    padding-left: 20px;
    float: left;
    font-family: slimFont;
    color: black;
    font-size: 250%;
}

#flutterlogo {
    position: relative;
    float: left;
    width: 75px;
    height: 75px;
    align-content: center;
}

#flutterApps {
    position: absolute;
    display: none;
    top: 150px;
    transition: transform 1s;
}

.oneApp {
    float: left;
    align-content: center;
    margin: auto;
    font-family: lessslimFont;
    margin: 0px 50px;
    text-align: center;
    width: 20%;
}

#andmore {
    float: left;
    align-content: flex-end;
    margin: auto;
    font-family: lessslimFont;
    margin: 0px 50px;
    text-align: center;
}

.oneApp>p {
    padding: 5px;
    font-size: 80%;
    margin: 5px;
}

.oneApp>#appname {
    font-size: 120%;
}

.screenshotflutter {
    height: 420px;
}

.screenshotflutter :hover {
    height: 220px;
    animation-name: phoneanimation;
    animation-duration: 250ms;
}

@keyframes phoneanimation {
    from {
        height: 420px;
    }
    to {
        height: 220px;
    }
}